@media screen and (min-width: 1000px) {
  .d1 {
    width: 100%;
    height: 70px;
    background-color: #EFEEEA;
    position: relative;
  }
  .d1 .d11 {
    width: 10%;
    height: 100%;
    position: absolute;
    left: 5%;
    opacity: 1;
  }
  .d1 .d11 .im1 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 8%;
  }
  .d1 .d11 .h51 {
    position: absolute;
    right: 5%;
    top: 25%;
  }
  .d1 .d12 {
    width: 35%;
    height: 50%;
    position: absolute;
    top: 25%;
    right: 0%;
    opacity: 1;
  }
  .d1 .d12 .btn {
    display: none;
  }
  .d1 .d12 .u1 {
    list-style: none;
    display: inline-flex;
  }
  .d1 .d12 .u1 .l1 {
    padding-right: 20px;
  }
  .d2 {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: white;
  }
  .d2 .d21 {
    width: 40%;
    height: 100%;
    position: absolute;
    left: 0%;
    opacity: 1;
  }
  .d2 .d21 .im2 {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 15px;
  }
  .d2 .d22 {
    width: 59%;
    height: 50%;
    position: absolute;
    right: 0%;
    top: 25%;
    opacity: 1;
  }
  .c3-d3 {
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    background-color: white;
  }
  .c3-d3 .d31 {
    width: 80%;
    height: 100%;
    border: 2px solid #03A791;
    border-radius: 15px;
    box-shadow: 0 5px 8px;
  }
  .c3-d3 .d31 .im3 {
    height: 35px;
    width: 35px;
  }
  .d5,
  .d6,
  .d9,
  .d10,
  .d13 {
    width: 40%;
    height: auto;
    background-color: white;
    position: relative;
    left: 30%;
    text-align: center;
  }
  .d5 .sp1,
  .d6 .sp1,
  .d9 .sp1,
  .d10 .sp1,
  .d13 .sp1 {
    color: #03A791;
  }
  .c4-d4 {
    width: 100%;
    height: 420px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    background-color: white;
  }
  .c4-d4 .d41 {
    width: 90%;
    height: 100%;
    border: 2px solid #03A791;
    border-radius: 15px;
    box-shadow: 0 5px 8px;
    opacity: 1;
  }
  .c4-d4 .d41 .im4 {
    height: 35px;
    width: 35px;
  }
  .d7 {
    width: 100%;
    height: 500px;
    background-color: white;
    position: relative;
  }
  .d7 .d71 {
    width: 45%;
    height: 100%;
    position: absolute;
    left: 0%;
  }
  .d7 .d71 .im5 {
    width: 100%;
    height: 100%;
  }
  .d7 .d72 {
    width: 49%;
    height: 80%;
    position: absolute;
    right: 0%;
    top: 15%;
  }
  .c8-d8 {
    width: 100%;
    height: 420px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    background-color: white;
  }
  .c8-d8 .d81 {
    width: 100%;
    height: 100%;
    border: 2px solid #03A791;
    border-radius: 15px;
    box-shadow: 0 5px 8px;
    opacity: 1;
    position: relative;
  }
  .c8-d8 .d81 .im5 {
    height: 100px;
    width: 100px;
  }
  .c8-d8 .d81 .d811 {
    width: 70%;
    height: 30px;
    opacity: 1;
    position: absolute;
    left: 15%;
    bottom: 1%;
  }
  .c8-d8 .d81 .d811 .im6 {
    height: 30px;
    width: 30px;
  }
  .c11-d11 {
    width: 100%;
    height: 600px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .c11-d11 .d11c {
    width: 90%;
    height: 100%;
    position: relative;
    border: 2px solid #03A791;
    border-radius: 15px;
    box-shadow: 0 5px 8px;
  }
  .c11-d11 .d11c .d111 {
    width: 100%;
    height: 35%;
    opacity: 1;
    border-bottom: 1px solid #03A791;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 250px;
    text-align: center;
  }
  .c11-d11 .d11c .d111 .im7 {
    width: 90px;
    height: 90px;
  }
  .c11-d11 .d11c .d112 {
    width: 100%;
    height: 64%;
    position: absolute;
    bottom: 0%;
    opacity: 1;
  }
  .c12-d12 {
    width: 100%;
    height: 450px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .c12-d12 .d12c {
    width: 90%;
    height: 100%;
    opacity: 1;
    border: 2px solid #03A791;
    border-radius: 15px;
    position: relative;
  }
  .c12-d12 .d12c .d121 {
    width: 100%;
    height: 65%;
    position: absolute;
    top: 0%;
    opacity: 1;
  }
  .c12-d12 .d12c .d121 .im8 {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0%;
  }
  .c12-d12 .d12c .d121 .dd12 {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0%;
    opacity: 1;
  }
  .c12-d12 .d12c .d121 .dd12 .dv1,
  .c12-d12 .d12c .d121 .dd12 .dv2 {
    width: 50%;
    height: 100%;
    display: inline-flex;
  }
  .c12-d12 .d12c .d121 .dd12 .dv1 .im9,
  .c12-d12 .d12c .d121 .dd12 .dv2 .im9 {
    height: 25px;
    width: 25px;
  }
  .c12-d12 .d12c .d121 .dd12 .dv1 {
    position: absolute;
    left: 0%;
  }
  .c12-d12 .d12c .d121 .dd12 .dv2 {
    position: absolute;
    right: 0%;
  }
  .c12-d12 .d12c .d112 {
    width: 100%;
    height: 34%;
    position: absolute;
    bottom: 0%;
    opacity: 1;
  }
}
@media screen and (max-width: 1000px) {
  .d1 {
    width: 100%;
    height: 70px;
    background-color: #EFEEEA;
    position: relative;
  }
  .d1 .d11 {
    width: 40%;
    height: 100%;
    position: absolute;
    left: 5%;
    opacity: 1;
  }
  .d1 .d11 .im1 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 8%;
  }
  .d1 .d11 .h51 {
    position: absolute;
    right: 5%;
    top: 25%;
  }
  .d1 .d12 {
    width: 30%;
    height: 220px;
    position: absolute;
    top: 25%;
    right: 5%;
    opacity: 1;
  }
  .d1 .d12 .btn-primary {
    position: absolute;
    right: 0%;
  }
  .d1 .d12 .u1 {
    list-style: none;
    display: none;
    position: absolute;
    background-color: #000000;
    border-radius: 15px;
    opacity: 1;
    z-index: 2000;
  }
  .d1 .d12 .u1 .l1 {
    padding-right: 20px;
    color: white;
  }
  .d2 {
    width: 100%;
    height: 600px;
    position: relative;
    background-color: white;
  }
  .d2 .d21 {
    width: 100%;
    height: 55%;
    position: absolute;
    top: 0%;
    opacity: 1;
  }
  .d2 .d21 .im2 {
    width: 100%;
    height: 100%;
  }
  .d2 .d22 {
    width: 100%;
    height: 44%;
    position: absolute;
    top: 56%;
    opacity: 1;
    text-align: center;
  }
  .c3-d3 {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    text-align: center;
    background-color: white;
  }
  .c3-d3 .d31 {
    width: 100%;
    height: 100%;
    border: 2px solid #03A791;
    border-radius: 15px;
    box-shadow: 0 5px 8px;
  }
  .c3-d3 .d31 .im3 {
    height: 35px;
    width: 35px;
  }
  .d5,
  .d6,
  .d9,
  .d10,
  .d13 {
    width: 40%;
    height: auto;
    background-color: white;
    position: relative;
    left: 30%;
    text-align: center;
  }
  .d5 .sp1,
  .d6 .sp1,
  .d9 .sp1,
  .d10 .sp1,
  .d13 .sp1 {
    color: #03A791;
  }
  .c4-d4 {
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    background-color: white;
  }
  .c4-d4 .d41 {
    width: 90%;
    height: 100%;
    border: 2px solid #03A791;
    border-radius: 15px;
    box-shadow: 0 5px 8px;
    opacity: 1;
  }
  .c4-d4 .d41 .im4 {
    height: 35px;
    width: 35px;
  }
  .d7 {
    width: 100%;
    height: 900px;
    background-color: white;
    position: relative;
  }
  .d7 .d71 {
    height: 40%;
    width: 100%;
    position: absolute;
    top: 0%;
  }
  .d7 .d71 .im5 {
    width: 100%;
    height: 100%;
  }
  .d7 .d72 {
    height: 59%;
    width: 100%;
    position: absolute;
    right: 0%;
    bottom: 0%;
    opacity: 1;
  }
  .c8-d8 {
    width: 100%;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    background-color: white;
  }
  .c8-d8 .d81 {
    width: 100%;
    height: 100%;
    border: 2px solid #03A791;
    border-radius: 15px;
    box-shadow: 0 5px 8px;
    opacity: 1;
    position: relative;
  }
  .c8-d8 .d81 .im5 {
    height: 100px;
    width: 100px;
  }
  .c8-d8 .d81 .d811 {
    width: 70%;
    height: 30px;
    opacity: 1;
    position: absolute;
    left: 15%;
    bottom: 1%;
  }
  .c8-d8 .d81 .d811 .im6 {
    height: 30px;
    width: 30px;
  }
  .c11-d11 {
    width: 100%;
    height: 1900px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .c11-d11 .d11c {
    width: 100%;
    height: 600px;
    position: relative;
    border: 2px solid #03A791;
    border-radius: 15px;
    box-shadow: 0 5px 8px;
    opacity: 1;
  }
  .c11-d11 .d11c .d111 {
    width: 100%;
    height: 35%;
    opacity: 1;
    border-bottom: 1px solid #03A791;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 250px;
    text-align: center;
  }
  .c11-d11 .d11c .d111 .im7 {
    width: 90px;
    height: 90px;
  }
  .c11-d11 .d11c .d112 {
    width: 100%;
    height: 64%;
    position: absolute;
    bottom: 0%;
    opacity: 1;
  }
  .c12-d12 {
    width: 100%;
    height: 1500px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .c12-d12 .d12c {
    width: 100%;
    height: 480px;
    opacity: 1;
    border: 2px solid #03A791;
    border-radius: 15px;
    box-shadow: 0 5px 8px;
    position: relative;
  }
  .c12-d12 .d12c .d121 {
    width: 100%;
    height: 65%;
    position: absolute;
    top: 0%;
    opacity: 1;
  }
  .c12-d12 .d12c .d121 .im8 {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0%;
  }
  .c12-d12 .d12c .d121 .dd12 {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0%;
    opacity: 1;
  }
  .c12-d12 .d12c .d121 .dd12 .dv1,
  .c12-d12 .d12c .d121 .dd12 .dv2 {
    width: 50%;
    height: 100%;
    display: inline-flex;
  }
  .c12-d12 .d12c .d121 .dd12 .dv1 .im9,
  .c12-d12 .d12c .d121 .dd12 .dv2 .im9 {
    height: 25px;
    width: 25px;
  }
  .c12-d12 .d12c .d121 .dd12 .dv1 {
    position: absolute;
    left: 0%;
  }
  .c12-d12 .d12c .d121 .dd12 .dv2 {
    position: absolute;
    right: 0%;
  }
  .c12-d12 .d12c .d112 {
    width: 100%;
    height: 34%;
    position: absolute;
    bottom: 0%;
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */